html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    font-family: $secondFont;
    &.static{
        overflow: hidden;
    }
}
p{
    font-size: 2rem;
    color: $black;
}
h1,h2,h3{
    margin: 0;
}
h1{
    font-family: $mainFont;
    font-size: 4rem;
}
h2{
    font-family: $mainFont;
    font-size: 3.6rem;
}
h3{
    font-family: $mainFont;
    font-size: 3rem;
}

a {
    text-decoration: none;
}
img{
    max-width: 100%;
}
.container{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}